@using GYM_MVC.ViewModels
@using GYM_MVC.ViewModels.TrainerViewModels


@model DisplayMemberWithWorkoutPlansVM ;

@{
    ViewData["Title"] = "Member Details";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";

}

<div class="container mt-4">
    <h2 class="mb-4">Member: @Model?.Name</h2>

    <div class="row">
        <div class="col-md-4">
            <img src="@Model?.ImagePath" class="img-fluid rounded shadow-sm " alt="Member Photo" />
        </div>

        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">Age:</dt>
                <dd class="col-sm-8">@Model?.Age</dd>

                <dt class="col-sm-4">Weight:</dt>
                <dd class="col-sm-8">@Model?.Weight kg</dd>

                <dt class="col-sm-4">Height:</dt>
                <dd class="col-sm-8">@Model?.Height cm</dd>

                <dt class="col-sm-4">Marital Status:</dt>
                <dd class="col-sm-8">@Model?.MaritalStatus</dd>

                <dt class="col-sm-4">Illnesses:</dt>
                <dd class="col-sm-8">@Model?.Illnesses</dd>

                <dt class="col-sm-4">Injuries:</dt>
                <dd class="col-sm-8">@Model?.Injuries</dd>

                <dt class="col-sm-4">Sleep Hours:</dt>
                <dd class="col-sm-8">@Model?.SleepHours hrs/day</dd>

                <dt class="col-sm-4">Available Days:</dt>
                <dd class="col-sm-8">@Model?.AvailableDays</dd>



            </dl>
        </div>
    </div>

    <hr class="my-4" />

    <div class="d-flex justify-content-around mb-3">
        <h3 class="text-center mb-2">Workout Plans</h3>
        <a class="btn btn-success" asp-controller="WorkoutPlan" asp-action="Create" asp-route-memberId="@Model?.Id">Add Plan</a>

    </div>
    @if (Model?.WorkoutPlan?.Any() == true)
    {

        <div class="row">
            @foreach (var plan in Model?.WorkoutPlan)
            {

                if (!plan.IsDeleted)
                {
                    <div class="col-6">
                        <div class="card mb-4 shadow-sm ">
                            <div class="card-body">
                                <h5 class="card-title">@plan.Name</h5>
                                <p class="card-text">@plan.Description</p>

                                <p><strong>Start:</strong> @plan.StartDate.ToShortDateString()</p>
                                <p><strong>End:</strong> @plan.EndDate.ToShortDateString()</p>
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary" asp-action="Index" asp-controller="Exercise" asp-route-WorkoutPlanId="@plan.Id">Exercise Details</a>

                                    <a class="btn btn-info" asp-action="Edit" asp-controller="WorkoutPlan" asp-route-id=@plan.Id>Edit</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-controller="WorkoutPlan" asp-route-id=@plan.Id>Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <p class="text-center m-auto">No workout plans assigned to this member.</p>
    }
</div>
